@charset "UTF-8";
html {
  background-color: darkgray;
}

#title {
  font-family: 微軟正黑體;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

.card {
  font-family: 微軟正黑體;
  font-size: xx-large;
}

.card .card-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card #card_title {
  padding-top: 2vh;
  font-weight: bolder;
}

.card table {
  font-size: medium;
}

#logout {
  bottom: 1%;
  right: 1%;
  position: fixed;
}

#logout button {
  font-family: 微軟正黑體;
  font-size: xx-large;
  font-weight: bolder;
  background-color: azure;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
