<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <title>後臺系統</title>
    <meta charset="utf-8">
    <link rel="icon" href="/static/pic/sliders.svg">
    <link rel="stylesheet" href="/static/css/Dashboard.css">
</head>

<body>
    <div id="Nav">後臺系統</div>
    <div id="offer">
        <div id="title">優惠訊息</div>
        <div id="information">※此區用來更新首頁的優惠訊息</div>
        <div id="addoffer">
            <form>
                <p>新增優惠訊息</p>
                <p>優惠內容: <input type="text" id="content"></p>
                <p>活動期間 從: <input type="date" id="startdate"> 到: <input type="date" id="enddate">
                    <button onclick="">送出</button>
                </p>
            </form>
        
        </div>
    </div>
    <div id="member">
    </div>
    <div id="logout">
        <form method="post" action="">
            <button>登出</button>
        </form>
    </div>

</body>
</html>