<div class="head" id="fixed-header-slide">
    <nav class="nav" id="fixed-header-wrap">
        <div class="logo">
            logo.jpg
        </div>
        <div class="home">
            <a href="/home#" target="_self">
                首頁
            </a>
        </div>
        <div class="menu">
            <a href="#">
                類型
            </a>
            <ul id="test1" class="option-cont">
                <li>
                    <a href="/home#block1" target="_self">
                        科幻
                    </a>
                </li>
                <li>
                    <a href="/home#block2" target="_self">
                        愛情
                    </a>
                </li>
                <li>
                    <a href="/home#block3" target="_self">
                        動作
                    </a>
                </li>
                <li>
                    <a href="/home#block4" target="_self">
                        懸疑
                    </a>
                </li>
            </ul>
        </div>
        <!--<div class="favorite">
            <a href="/future">
                我的最愛
            </a>
        </div>
        <div class="booking">
            <a href="/ticketln" target="_self">
                來去訂票
            </a>
        </div>
        <div class="o"></div>
        <div class="user">
            <a href="/login" target="_self">
                登入
            </a>
            <a href="/logout" target="_self">
                登出
            </a>
        </div>-->
    </nav>
</div>