<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/static/CSS/home.css" />
    <script src="https://kit.fontawesome.com/e8c62160a4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div data-role="page" class="body" id="top">
        {% include "header.html" %}
        <div class="content">
            <div class="title" id="block1">
                <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                科幻
            </div>
            <div class="wrap">
                <div class="item">
                    <img src="../static/pic/tv19.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《哥吉拉大戰金剛》
                        </h2>
                        <p>
                            兩位神級巨獸展開史詩般的殊死一戰，當傳奇正面對決時，世界的命
                            運危在旦夕。金剛與牠的保護者，踏上危險的旅程，尋找牠真正的家
                            園，同行的還有吉雅，這名年輕的小孤女，與金剛間有著獨特且強大
                            的聯繫。但他們意外地與憤怒的哥吉拉...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv25.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《音速小子》
                        </h2>
                        <p>
                            電影敘述誤闖地球的音速小子和新認識的人類朋友湯姆華卓斯基，兩
                            人要聯手阻止邪惡的蛋頭博士，利用音速小子的巨大力量來統治全世
                            界。這部電影導演是傑夫富勒，其他演員還有蒂卡桑普特和為音速小
                            子配音的班許瓦茲...

                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv7.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《脫稿玩家》
                        </h2>
                        <p>
                            故事描述一個銀行小職員 -蓋伊
                            日復一日年復一年做著無聊的工作，過著樸實無華的生活，直到有一天他
                            突然發現自己是一個暴力電玩中可有可無的配角，他想要突破現狀，但這
                            個動作竟讓整個遊戲大變調，除了要挑戰層層關卡，還要拯救世界...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv8.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《沙丘》
                        </h2>
                        <p>
                            劇情講述聰明又富有天賦的年輕人保羅，肩負著超越自己理解的偉大
                            天命，遠行至宇宙中最危險的行星，面對為了搶奪資源大打出手的敵
                            對勢力，他必須戰勝自己的恐懼，才能確保家族未來的延續...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv14.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《天能》
                        </h2>
                        <p>
                            約翰大衛華盛頓是《天能》一片中的全新主角，必須僅靠一個字「天
                            能」為地球全人類的存亡誓死奮戰，他將進入一個幽冥晦暗的國際諜
                            報世界，並且執行一項即將超越現實時間限制的重大任務。這不是時
                            空旅行，而是逆轉未來...
                        </p>
                        <a href="/future" target="_self">
                            <button class="more">
                                查看更多
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="title" id="block2">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                愛情
            </div>
            <div class="wrap">
                <div class="item">
                    <img src="../static/pic/tv1.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《月老》
                        </h2>
                        <p>
                            《月老》是一部於2021年上映的臺灣愛情奇幻电影，改編自九把刀的同名小說。
                            劇情講述慘遭雷擊的阿綸來到陰間，在轉世投胎可能變成蝸牛的壓力下決定擔任
                            神職，跟性格火爆的女孩Pinky成為幫人牽線的月老。看著生前摯愛小咪因為...
                        </p>
                        <a href="/future" target="_self">
                            <button class="more">
                                查看更多
                            </button>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv4.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《當男人戀愛時》
                        </h2>
                        <p>
                            劇情描述邱澤飾演的討債流氓，看似兇狠、實際上卻有顆柔軟的心，他在一次討
                            債過程中對債主女兒許瑋甯一見鐘情，進而提出要用「塗鴉合約」，以吃飯、散
                            步的方式來抵銷她們家的債務，這種吊兒啷噹的態度，簡直顛覆了債主女兒的世
                            ...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv11.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《你的婚禮》
                        </h2>
                        <p>
                            高中時期，功課不好、整天打架鬧事的體育生周瀟齊對轉學生尤詠慈一見鍾情；
                            年少懵懂的週瀟齊純純愛戀著尤詠慈，他默默守護，卻換來尤詠慈的不告而別。
                            此後的人生，一段長達15年的愛情故事即將展開...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv20.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《紫羅蘭永恆花園》
                        </h2>
                        <p>
                            劇情敘述因為戰爭失去雙手，薇爾莉特離開軍隊，並裝上義肢，開始在C·H郵政
                            社擔任起「自動手記人偶」的代筆工作。這位像人偶般清澈無暇、沒有多餘感情
                            的少女，為了想要理解當時戰場上重要之人，對她所要傳達的話語，她不斷前往
                            各地...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv23.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《我沒有談的那場戀愛》
                        </h2>
                        <p>
                            33歲的郭勤勤整天擺臭臉埋頭工作，某天被她臉書封鎖的其中一位男子南之仰突
                            然聯絡她，被塵封的回憶突然浮上心頭，讓她思考是否該把另一個封鎖名單內的
                            男子趙書維解除封鎖...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
            </div>
            <div class="title" id="block3">
                <i class="fa fa-venus-mars" aria-hidden="true"></i>
                動作
            </div>
            <div class="wrap">
                <div class="item">
                    <img src="../static/pic/tv2.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《蜘蛛人：無家日》
                        </h2>
                        <p>
                            故事接續《蜘蛛人：離家日》片尾，描述號角日報對外公佈了蜘蛛人真實身份是
                            彼得帕克後，警察指控他利用無人機殺害神秘法師，讓彼得帕克遭到輿論攻擊、
                            而他與親友的生活也大受影響。為了改變現況，絕望的彼得帕克找上了「奇異博
                            士」...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv3.png" alt="">
                    <div class="txt">
                        <h2>
                            《鬼滅之刃：無限列車篇》
                        </h2>
                        <p>
                            劇情描述炭治郎等一行人人結束蝴蝶屋的訓練後，到達下一個任務地點「無限列
                            車」，並與鬼殺隊炎柱・煉獄杏壽郎會合，一同調查列車上的多人失蹤事件，新
                            的任務即將開始，而下弦之壹-【魘夢】，也潛伏在列車之中...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv12.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《黑寡婦》
                        </h2>
                        <p>
                            故事時間點設定在《美國隊長3：英雄內戰》之後，娜塔莎因為幫助了美國隊長
                            而踏上流亡之路，當她發現一個與過去有關的陰謀時，她必須全球追蹤，回頭面
                            對她神祕的間諜生涯，同時逃過反派「模仿大師」的追殺...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv18.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《猛毒2：血蜘蛛》
                        </h2>
                        <p>
                            劇情講述在艾迪跟外星共生體「猛毒」結合之後，他們倆成為室友，展開一段另
                            類的同居生活。平時猛毒會幫艾迪做早餐，也會壓抑著想要吃人的慾望跟他到雜
                            貨店購物，但隨著另一個共生體「屠殺」出現，兩人也必須再次合作，對抗這隻
                            ...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv22.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《魔物獵人》
                        </h2>
                        <p>
                            改編自知名遊戲電玩，玩家要扮演主人公獵人接下任務與各地怪物、魔物戰鬥，
                            狩獵巨龍與巨獸，收集素材、保衛村莊。在電影中，將在現代社會出現怪物魔物
                            。男主角將發現自己是英雄後裔，提升技能並前往討伐怪物...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
            </div>
            <div class="title" id="block4">
                <i class="fa fa-eye" aria-hidden="true"></i>
                懸疑
            </div>
            <div class="wrap">
                <div class="item">
                    <img src="../static/pic/tv5.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《細物警探》
                        </h2>
                        <p>
                            克恩郡副警長喬狄肯，被派往洛杉磯進行本該是趟簡單明快的證據收集任務。取
                            而代之的是，他被捲入一場緝捕正肆虐該市的連環殺手之行動。領導緝捕的是洛
                            杉磯郡警長吉姆貝克斯特，對狄克的警察直覺大為驚艷，因而私自尋求他的協助
                            ...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv6.png" alt="">
                    <div class="txt">
                        <h2>
                            《獵魂者》
                        </h2>
                        <p>
                            一名男子車禍後不僅失去記憶，甚至每隔12小時，靈魂就會移轉到另一人身上。
                            在他拼命尋找「我是誰」的過程中，不但遭到地下組織追殺，更遇見一位自稱認
                            識他的神祕女子。疑點重重的記憶謎團、分秒必爭的獵殺行動，他能否找回...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv17.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《我的家》
                        </h2>
                        <p>
                            事劇情在敘述男主角是一位中年失業的廣告設計師，全家因此斷了主要的經濟來
                            源，被迫要捨棄高額租金的豪宅，搬到城郊地區的小房子，在失業許久且面試又
                            被羞辱的狀況下，他意外找到之前舊房子的鑰匙，他決定趁新主人上班時，偷偷...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv21.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《父親》
                        </h2>
                        <p>
                            隨著年齡增長，獨自一人住在倫敦的安東尼開始失去記憶，即使對生活中出現的
                            人事物開始產生疑惑，他卻無法接受自己失智的事實，更拒絕女兒安所安排的一
                            切協助與照顧。當面對父親總有一天將會遺忘自己，心痛的安又將如何讓父親...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
                <div class="item">
                    <img src="../static/pic/tv24.jpg" alt="">
                    <div class="txt">
                        <h2>
                            《詐欺女王》
                        </h2>
                        <p>
                            女主角瑪拉利用法律手段，成為特定老人族群的法定監護人，並將這群老人當成
                            目標，先讓他們住進可怕的護理機構，再取走手機讓他們無法對外求助，最後偷
                            走他們的財產，不動聲色地完美犯案，就連法律都拿她沒轍。某天，她鎖定下一個...
                        </p>
                        <button class="more">查看更多</button>
                    </div>
                </div>
            </div>
            <div class="nav" id="bottom">
                <a href="#top" target="_self">
                    <h3>回頂端</h3>
                </a>
            </div>
        </div>
        <div data-role="footer" data-position="fixed" class="footer">
            Made by TC. AlphaSato. WLUN.
        </div>
    </div>
</body>

</html>