<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/CSS/login.css" />
</head>

<body>
    <div class="head" id="fixed-header-slide">
        <nav class="nav" id="fixed-header-wrap">
            <div class="logo">
                logo.jpg
            </div>
            <div class="home">
                <a href="Home.html#top" target="_self">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    首頁
                </a>
            </div>
            <div class="menu">
                <a href="#">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    類型
                </a>
                <ul id="test1" class="option-cont">
                    <li>
                        <a href="#block1" target="_self">
                            科幻
                        </a>
                    </li>
                    <li>
                        <a href="#block2" target="_self">
                            愛情
                        </a>
                    </li>
                    <li>
                        <a href="#block3" target="_self">
                            動作
                        </a>
                    </li>
                    <li>
                        <a href="#block4" target="_self">
                            懸疑
                        </a>
                    </li>
                </ul>
            </div>
            <div class="favorite">
                <a href="">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    我的最愛
                </a>
            </div>
            <div class="booking">
                <a href="./ticketln.html" target="_blank">
                    <i class="fa fa-ticket" aria-hidden="true"></i>
                    來去訂票
                </a>
            </div>
            <div class="o"></div>
            <div class="user">
                <a href="./login.html" target="_blank">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    登入
                </a>
            </div>
        </nav>
    </div>
    <div class="content">
        <form action="" class="login" method="POST">
            <h1>Login 登入</h1>
            <input type="text" name="Username" placeholder="Username 用戶名" />
            <input type="password" name="Password" placeholder="Password 密碼" />
            <input type="submit" value="Submit 提交" />
        </form>
        <form action="" class="register">
            <h3>沒有帳號嗎？</h3>
            <input type="button" value="sign up 註冊" />
        </form>
    </div>
    
</body>

</html>