@mixin font {
    font-family:微軟正黑體;
    font-size: xx-large;
}

#Nav{
    @include font();
    font-weight:bolder;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color:gray ;
}

#offer{
    @include font();
    padding-top:5vh;
    #title{
        font-weight:bolder;
        color:blue;
    }
    #information{
        padding-top: 5px;
        font-size: large;
    }
    #addoffer{
        @include font();
        font-size: medium;
        #content{
            width: 25%;
            @include font();
            font-size:medium;
        }
    }
}
