@mixin font {
    font-family:微軟正黑體;
    font-size: xx-large;
}
html{
    background-color: darkgray;
}
#title{
    @include font();
    font-weight: bolder;
    color: white;
}
.card{
    @include font();
    .card-header{
        justify-content: center;
    }
    #card_title{
        padding-top: 2vh;
        font-weight: bolder;
    }
    table{
        font-size: medium;
    }
}
#logout{
    bottom:1%;
    right:1%;
    position: fixed;
    button{
        @include font();
        font-weight: bolder;
        background-color: azure;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
    }
}