@mixin center {
    width: 100%;
    height: 100vh;
    text-align: center;
    left: 50%;
    right:50%;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
}

@mixin font {
    font-family:微軟正黑體;
    font-size: x-large;
    font-weight:bolder;
}

html{
    scroll-behavior: smooth;
}

#ERROR{
    @include font();
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: red;
}

#login{
    @include font();
    @include center();
    height:50vh;
    input{
        font-size:x-large;   
    }
    button{
        padding-left: 20px;
        padding-right: 20px;
        font-size: x-large;
        font-weight:bolder;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border-color:black;
    }
    button:hover{
        color: white;
        background-color: black;
        border-color:white;
    }
}
#warning{
    @include font();
    text-align: center;
    color:red;
    font-size: 30px;
}